.container-cartepage {
  display: flex; /* Usar flexbox para centrar */
  flex-direction: column; /* Coloca los elementos en una columna */
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  padding: 40px; /* Espaciado interno */
  margin: 80px; /* Margen externo */
 
  
}

.card-body-Grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 40px;
  padding: 40px;
  justify-content: center;
  max-width: 1200px; /* Ancho máximo del contenedor */
 
}

.card {
  border: 1px solid #ccc;
      border-radius: 5px;
      margin: 10px;
      padding: 10px;
      height: 800px;
      width: 600px;
      display: inline-block;
      background-color:whitesmoke;
  }

.button-container {
  display: flex;             /* Usar flexbox para alinear elementos */
  justify-content: center;   /* Centrar horizontalmente */
  align-items: center;       /* Centrar verticalmente si es necesario */
  gap: 30px;                /* Espacio entre los botones */
  margin-bottom: 25px;         /* Espaciado superior del contenedor */
}
