/* src/pages/home.css */
.grid-container {
    display: grid;
    grid-template-areas: 
      "menu main right"
      "footer footer footer";
    grid-template-columns: 20% auto; /* Ajusta las proporciones según tus necesidades */
    grid-template-rows: auto 1fr;
    
   
  }
  .home-title {
    display: flex;               /* Habilita Flexbox */
    flex-direction: column;      /* Alinea los hijos en una columna */
    align-items: center;         /* Centra horizontalmente los hijos */
    margin: 100px;              /* Margen superior e inferior */
    padding: 40px 150px;        /* Espaciado interno */
  }
  

  
  .menu {
    grid-area: menu;
    background-color:darkgrey; /* Color de fondo para ver el área */
    padding: 10px;
  }
  
  .main-1 {
    grid-area: main;
    background-color: #e0e0e0; /* Color de fondo para ver el área */
    padding: 10px;
    width:1200px;
  }
  
  .right {
    grid-area: right;
    background-color: #d0d0d0; /* Color de fondo para ver el área */
    padding: 10px;
  }
  
  .footer {
    grid-area: footer;
    background-color: #c0c0c0; /* Color de fondo para ver el área */
    padding: 10px;
  }
  
  
  /* Estilos adicionales para adaptabilidad */
  @media (max-width: 768px) {
    .home-title {
      font-size: 28px;
    }
  
    .foto-test {
      max-width: 300px;
    }
  
    .product-list {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuste para pantallas pequeñas */
    }
  }
  
  

/* Estilo para la lista de productos */
.product-list {
    display: flex; /* Usar flexbox para organizar los productos */
    flex-wrap: wrap; /* Permitir que los productos se ajusten a múltiples líneas */
    justify-content: center; /* Centrar productos en la página */
    max-width: 1200px; /* Ancho máximo de la lista de productos */
    width: 120%; /* Ancho de la lista de productos */
    margin: 0 auto; /* Centrar horizontalmente */
    margin-top: 40px; /* Espacio superior entre la imagen y la lista de productos */
}

/* Estilo para las tarjetas de productos */
.card {
    width: 300px; /* Ajustar el ancho de la tarjeta */
    margin: 20px; /* Espaciado entre tarjetas */
    border: 1px solid #ccc; /* Borde opcional */
    border-radius: 10px; /* Bordes redondeados opcionales */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

/* Ajustes para la visualización adaptativa */
@media (max-width: 768px) {
    .home-title {
        font-size: 2rem; /* Disminuir el tamaño de la fuente en pantallas pequeñas */
    }

    .foto-test {
        max-width: 100%; /* Ajustar la imagen a 100% en pantallas pequeñas */
    }

    .card {
        width: 100%; /* Ajustar las tarjetas a 100% en pantallas pequeñas */
    }
}