.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);; /* Crea columnas dinámicas */
    gap: 20px; /* Espacio entre las tarjetas */
    margin: 20px; /* Margen del contenedor */
    padding: auto;
}

.product-card-1 {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden; /* Ocultar contenido desbordado */
    transition: transform 0.3s; /* Transición suave al hacer hover */
}

.shop-card-image {
    width: 100%; /* La imagen ocupa el 100% del ancho de la tarjeta */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Evita espacios adicionales debajo de la imagen */
}

/* Efecto de hover */
.product-card:hover-1 {
    transform: translateY(-5px); /* Eleva la carta ligeramente */
}



/* Detalles de la carta */
.shop-card-details-1 {
    padding: 15px; /* Espacio interno */
    text-align: center; /* Alineación centrada del texto */
}

/* Título de la carta */
.shop-card-title-1 {
    font-size: 1.5em; /* Tamaño de fuente grande */
    margin: 10px 0; /* Espacio vertical */
    color: #333; /* Color del texto */
}

/* Descripción de la carta */
.shop-card-description-1 {
    font-size: 1em; /* Tamaño de fuente normal */
    color: #666; /* Color gris para el texto */
    margin-bottom: 10px; /* Espacio inferior */
}

/* Precio de la carta */
.shop-card-price-1 {
    font-size: 1.2em; /* Tamaño de fuente ligeramente más grande */
    color: #28a745; /* Color verde para el precio */
    margin: 10px 0; /* Espacio vertical */
}

/* Botón de acción */
.shop-card-button-1 {
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Color del texto en blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 15px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

/* Efecto hover en el botón */
.shop-card-button:hover-1 {
    background-color: #0056b3; /* Color más oscuro al hacer hover */
}
