.card-container {
    display: grid; /* Usar grid para el contenedor de las tarjetas */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 3 tarjetas por fila con un tamaño mínimo */
    gap:200px; /* Espacio entre las tarjetas */
    margin: 20px; /* Espacio alrededor del contenedor */
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    height: 800px; /* Puedes ajustar esto según tus necesidades */
    background-color: whitesmoke;
    display: flex; /* Flexbox para alinear contenido interno */
    flex-direction: column; /* Apilar elementos dentro de la tarjeta verticalmente */
}

.card-img-top {
    width: 100%; /* Ajusta la imagen al ancho de la tarjeta */
    height: 500px; /* Altura fija para las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el área de la tarjeta */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

/* card.css */

.star-rating {
    font-size: 24px; /* Tamaño de las estrellas */
    cursor: pointer;
}

.star {
    color: lightgray; /* Color de estrellas vacías */
    transition: color 0.2s;
}

.star.filled {
    color: gold; /* Estrellas amarillas */
}




/* Agrega estilos responsivos */
@media (max-width: 768px) {
    .card {
        flex: 1 1 100%; /* Tarjetas ocupan el 100% del ancho en pantallas pequeñas */
    }
}
