.container-search {
    padding: 20px;
    max-width: 600px; /* Limita el ancho del contenedor */
    margin: 0 auto;   /* Centra el contenedor */
    margin-top: 100px;
  }
  
  .category-input {
    width: 100%;          /* Mantiene el ancho al 100% del contenedor */
    max-width: 500pxpx;    /* Limita el ancho del input */
    padding: 10px;       /* Espaciado interno */
    margin: 10px 0; 
    border-radius: 20px;     /* Margen superior e inferior */
    margin-bottom: 10px;
  }
  
  .button-search{
    border-radius: 20px;
  }
  
  .container-search-2 {
    padding: 20px;
    max-width: 600px; /* Limita el ancho del contenedor */
    margin: 0 auto;   /* Centra el contenedor */
    margin-top: 100px;
   
  }




.card-img-top {
    width: 100%; /* Ajusta la imagen al ancho de la tarjeta */
    height: 500px; /* Altura fija para las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el área de la tarjeta */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

.car {
  background-color: white;
}
