/* frontend/src/components/Sidebar.css */
.sidebar {
    position: fixed;
    top: 60px; /* Coloca el Sidebar justo debajo del Navbar */
    left: 0;
    height: calc(100vh - 60px); /* Resta la altura del Navbar */
    width: 350px;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding: 20px;
    z-index: 999; /* Asegúrate de que esté por debajo del Navbar */
  }
  
  
  /* Si quieres que el contenido principal no se superponga al sidebar */
  .app-content {
    margin-left: 250px; /* Deja espacio para el sidebar */
  }
  