/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
  padding: 20px;
  padding-top: 10vh; /* Ajusta este valor para que coincida con la altura del Navbar */
}

.footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
}
